{% extends 'base.html' %}

{% block title %}{{book.title}}{% endblock %}

{% block content %}
{{ book.title }} <a href="{% url 'book_edit' book.id %}">edit</a>
<br>
<br>
Spells:
<hr>
<br>
{% for page in pages.all %}
	<a href="{% url 'dnd_page_edit' page.id %}">{{page.title}}</a> <a href="{% url 'dnd_page_order_up' page.id %}">up</a> <a href="{% url 'dnd_page_order_down' page.id %}">down</a><br>
{% endfor %}
<br><br>
<a href="{% url 'dnd_page_create' book.id %}">Add a page</a>
<a href="{% url 'srd_page_select' book.id %}">Add some SRD spells</a>
<a href="{% url 'book_generate_pdf' book.id %}">Generate PDF</a>
{% endblock %}