{% extends 'base.html' %}

{% block title %}{{book.title}}{% endblock %}

{% block header %}
{{ book.title }}
{% endblock %}

{% block content %}
<a href="{% url 'book_edit' book.id %}">Edit</a>
<br>
<br>

<table class="table table-striped">
	<tbody>
		{% for page in pages.all %}
			<tr>
				<td>
					<a href="{% url 'dnd_page_edit' page.id %}">{{page.title}}</a>
				</td>
				<td>
					<a href="{% url 'dnd_page_order_up' page.id %}">Move Up</a>
				</td>
				<td>
					<a href="{% url 'dnd_page_order_down' page.id %}">Move Down</a>
				</td>
			</tr>
	    {% endfor %}
	</tbody>
</table>

<a href="{% url 'dnd_page_create' book.id %}" class="btn btn-dark">Add a page</a>
<br><br>
<a href="{% url 'book_generate_pdf' book.id %}" class="btn btn-success">Purchase</a>
{% endblock %}